* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(188, 174, 22);
    color: rgb(8, 8, 192);
    margin: 400px;
}

main {
    margin: 10px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    height: 600px;
}

#primera {
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid white;
}

#segunda {
    margin: 10px;
    padding: 10px;
    border-bottom: 3px solid white;
}

.p1 {
    color: red;
}

.p2_1 {
    color: green;
    text-decoration:underline;
    cursor:pointer;
}

.p2_2 {
    color: yellow;
}

h2 {
    color: rgb(8, 8, 192);
    margin: 20px;
}

article {
    padding: 5px;
    color: white;
    float: left;
    border: 2px dashed white;
    width: 300px;
    display: block;
}

img {
    margin-left: 10px;
    width: 140px;
    height: 80px;
    display: inline;
}