/*
    Javier Ruiz Herrera
    Noviembre 2024
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #474747;
    color: white;
}

header {
    background-color: slategrey;
    text-align: center;
    padding: 1.25rem;
    margin: .625rem;
    border: .3125rem solid darkgoldenrod;
    border-radius: .3125rem;
    color: white;
}

header hr {
    width: 21.875rem;
    margin: auto;
    margin-top: .3125rem;
    margin-bottom: .625rem;
}

h2 {
    text-align: center;
    margin: .625rem;
}

h3 {
    margin: .625rem;
}

article hr {
    width: 40%;
    margin: auto;
    padding: .0313rem;
    background-color: black;
}

section {
    width: 33%;
    float: left;
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkgoldenrod;
    color: #fff;
    border: .1875rem solid slategrey;
    border-bottom: none;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    padding: 1.25rem;
    text-align: center;
}