/*
    Javier Ruiz Herrera
    Octubre 2024
*/

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 1.25rem;
    background-color: #242424;
    color: white;
}

main {
    padding-left:31.25rem ;
    width: 100%;
}

h2 {
    color: red ;
    text-align: center;
    padding: .3125rem;
}


/* Lista de componentes PC */
.pc-components {
    list-style: none;
    padding: .3125rem;
    margin: .625rem;
    border: .1875rem dashed blue;
    border-radius: .625rem;
    width: 30%;
}

.pc-components li {
    padding-left: 1.875rem;
    margin: .625rem 0;
    background-size: 1.5625rem;
    background-repeat: no-repeat;
    background-position: left .0625rem;
    line-height: 1.5rem;
    list-style: none;
}

.pc-components .sub-components {
    margin-left: 1.25rem;
    list-style-type: disc;
    color: #afafaf;
    font-size: 0.9em;
}

.pc-components .sub-components li {
    background: none;
    padding-left: 0;
    margin: .3125rem 0;
}

/* Iconos de componentes */
.cpu { background-image: url('../IMG/shopping.webp'); }
.gpu { background-image: url('../IMG/descarga.webp'); }
.ram { background-image: url('../IMG/shopping\ \(1\).webp'); }
.motherboard { background-image: url('../IMG/descarga\ \(1\).webp'); }
.storage { background-image: url('../IMG/descarga\ \(2\).webp'); }
.psu { background-image: url('../IMG/shopping\ \(2\).webp'); }
.case { background-image: url('../IMG/Captura\ de\ pantalla\ 2024-10-30\ 225157.png'); }
.cooling { background-image: url('../IMG/shopping\ \(3\).webp'); }
.fans { background-image: url('../IMG/descarga\ \(3\).webp'); }
.network { background-image: url('../IMG/shopping\ \(4\).webp'); }

.course-content {
    list-style: none;
    padding: .3125rem;
    margin: .625rem;
    border: .1875rem dashed orange;
    border-radius: .625rem;
    width: 30%;
}

.course-content li {
    padding-left: 1.875rem;
    margin: .625rem 0;
    background-size: 1.25rem;
    background-repeat: no-repeat;
    background-position: left .3125rem;
    line-height: 1.5rem;
}

.course-content .sub-list-square {
    margin-left: 1.25rem;
    list-style-type: disc;
    color: #afafaf;
    font-size: 0.9em;
}

.course-content .sub-list-square li {
    background: none;
    padding-left: 0;
    margin: .3125rem 0;
}

.definitions {
    list-style: none;
    padding: .3125rem;
    margin: .625rem;
    border: .1875rem dashed green;
    border-radius: .625rem;
    width: 30%;
}

.definitions dl {
    padding: .625rem;
}

.definitions dt {
    padding: .625rem;
}

.definitions dd {
    color: #afafaf ;
}