* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    color: white;
    background-color: rgb(37, 117, 80);
    text-align: left;
}

h1 {
    text-shadow: 3px 3px 0px black;
    text-transform: uppercase;
}

div {
    width: 100%;
    margin: 10px;
}

.white {
    margin-left: 25%;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
    background-color: white;
    color: black;
    padding: 15px;
    width: 50%;
}

.red {
    float: left;
    border: 15px solid rgb(133, 45, 45);
    background-color: rgb(184, 65, 65);
    padding: 15px;
    width: 50%;
}

.orange {
    float: right;
    border: 10px solid rgb(105, 70, 16);
    background-color: rgb(177, 121, 49);
    padding: 10px;
    width: 50%;
}

.blue {
    margin-left: 25%;
    align-items: center;
    border: 3px dashed rgb(17, 116, 182);
    background-color: rgb(33, 58, 138);
    padding: 15px;
    clear: both;
    width: 50%;
}

/* Obra maestra realizada por Javier Ruiz Herrera */